<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uthaya - Traduction Tamoul Français</title>
    <meta name="description" lang="fr" content="Uthaya - Paris/Lyon : Sophika Uthayakumar - Cours de tamoul par une prof. diplômée en Littérature Tamoul. Traduction et intépretation tamoul-français. Ateliers de danse et théatre. Vous voulez apprendre le tamoul ? Contactez moi !">
    <link rel="apple-touch-icon" href="//cdn.superprof.com/style/images/favicon/s_rose_76.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//cdn.superprof.com/style/images/favicon/s_rose_76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//cdn.superprof.com/style/images/favicon/s_rose_120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//cdn.superprof.com/style/images/favicon/s_rose_152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//cdn.superprof.com/style/images/favicon/s_rose_180.png">
    <link rel="icon" sizes="192x192" href="//cdn.superprof.com/style/images/favicon/s_rose_192.png">
    <link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="//cdn.superprof.com/style/images/favicon/s_rose_76.ico">
    <link rel="mask-icon" href="//cdn.superprof.com/style/images/favicon/s_rose.svg" color="#FF5A5F">

    <meta name="robots" content="index, follow">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Uthaya - Paris/Lyon : Sophika Uthayakumar - Cours de tamoul par une prof. diplômée en Littérature Tamoul. Traduction et intépretation tamoul-français. Ateliers de danse et théatre. Vous voulez apprendre le tamoul ? Contactez moi !">
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://www.superprof.fr/images/annonces/professeur-home-cours-initiation-informatique-cours-tamoul-prof-diplomee-litterature-tamoul-vocabulaire-grammaire-expressions.jpg">
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Uthaya">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Uthaya - Paris/Lyon : Sophika Uthayakumar - Cours de tamoul par une prof. diplômée en Littérature Tamoul. Traduction et intépretation tamoul-français. Ateliers de danse et théatre. Vous voulez apprendre le tamoul ? Contactez moi !">

    <meta name="keywords" content="tamoul, culture tamoule, apprendre, traduction, interpretation, cours tamoul" />
    <meta name="author" content="Sopika Uthayakumar" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/traduction/index.css" />
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>

</head>
<body class="loading">
    <header>
        <div class="header-side">
            <a href="/" class="logo dynamic-link cta" rel="noopener">
                <div style="position:relative;display:inline-block;" class="SplitClass">Uthaya</div> <br>
            </a>
            <span class="header-line">
            </span>
            <a class="header-link" href="mailto:sopika16@hotmail.fr" rel="author">Contact</a>
        </div>
        <div class="header-side">
            <nav>
                <a href="/cours" class="header-link dynamic-link _moveTo cta" data-href="cours" rel="prefetch">Cours</a>
                <a href="/traduction" class="header-link dynamic-link _moveTo cta" data-href="interpretation" rel="prefetch">Interprètation</a>
            </nav>
        </div>

    </header>

    <div class="corner__link">
        <a href="/ateliers" class="header-link corner dynamic-link _moveTo cta" data-href="ateliers" rel="prefetch">Ateliers</a>
        <a href="/boutique" class="header-link corner dynamic-link _moveTo cta" data-href="boutique" rel="prefetch">Boutique</a>
    </div>
    <svg class="hidden">
        <!-- All deco shapes -->
        <defs>
            <path id="deco1" d="M 161,54.69 C 230.4,4.986 303.7,8.661 414.4,92.19 465.7,130.9 432.3,211.4 460,279.5 481,331.2 449.7,430.4 381.1,427 287.1,422.3 172.4,503.8 99.27,444.6 21.03,381.1 10.32,258.3 55.25,145.6 73.73,99.3 129.3,77.36 161,54.69 Z" />
            <path id="deco2" d="M 119.8,69.41 C 213.5,18.01 367.2,-1.306 440.4,76.58 482.9,121.9 435.3,200.8 432.9,262.9 431.1,310.6 461.3,372.1 427.7,406 342.4,492 158.3,499.3 64.62,422.5 10.09,377.8 18.76,282.6 32.51,213.5 43.46,158.4 70.61,96.36 119.8,69.41 Z" />
            <path id="deco3" d="M 77.03,75.72 C 147.9,0.2308 309,13.37 387.6,80.44 471.8,152.4 517.2,325.6 442.9,407.5 350.2,509.8 43.77,516.2 29.67,378.8 20.48,289.3 80.25,270.4 87.78,212 93.61,166.8 45.85,108.9 77.03,75.72 Z" />
            <path id="deco4" d="M 38.35,160.1 C 74.92,86.34 178.1,44.04 260.1,51.51 348.2,59.54 441.6,126.9 473.5,209.4 499.3,276 485,371.9 431.9,419.6 348.2,494.9 185.6,517.4 95.49,449.9 16.71,390.8 -5.393,248.3 38.35,160.1 Z"/>
            <path id="deco5" d="M 49.94,386.5 C 9.795,286.4 7.674,129.7 94.72,65.99 188.4,-2.586 371.8,28.99 438.1,124.3 486.9,194.5 503.7,389.2 390.4,376.4 277.1,363.5 238.6,482 155.1,469.7 110.9,463.2 66.57,428 49.94,386.5 Z"/>
            <path id="deco6" d="M 261.7,380.3 C 204.7,399.8 154.1,482.7 98.91,458.5 26.64,426.9 13.2,309.8 29.35,232.6 43.76,163.6 101.4,97.37 167.4,72.34 248,41.97 422.1,-2.762 423.4,107.7 424.6,218.1 507.5,272.4 464.3,336.7 425.7,394.2 327,357.9 261.7,380.3 Z" />
            <path id="deco7" d="M 451.9,392.4 C 365.4,455.1 212.9,465.1 131.6,395.9 55.74,331.3 2.509,152.7 87.24,100.3 135.8,70.3 177.8,170.2 227.3,198.6 307.2,244.4 442.2,228.9 478.7,313.5 489.7,339 474.4,376.1 451.9,392.4 Z" />
        </defs>
    </svg>
    <div class="feature pt-page-4" id="interpretation" data-anchor="interpretation" data-step="d">

        <header class="header">
            <div class="width-wrapper">
                <div class="trad_area">
                    <div class="trad_editor">
                        <div class="trad_panel trad_html">
                            <div class="header_panel">
                                <h1><strong>Texte en tamoul</strong></h1>
                            </div>
                            <div class="panel_code">
                                <code>
                                    <h2 class="stroke__text">Moḻipeyarppu maṟṟum viḷakkam tamiḻ/ pirañcu</h2>

                                    <p>Tañcāvūr palkalaikkaḻakattil (intiyā) tamiḻ ilakkiyattil uyar cāṉṟitaḻ (nilai 3) eṉṟa vakaiyil, taṟpōtu tamiḻ urimattiṉ camanilaikku nāṉ tayārāki varukiṟēṉ. Nāṉ pirāṉcukku vantatiliruntu, nāṉ vaḻakkamāka āvaṇaṅkaḷai moḻipeyarkkiṟēṉ, āṉāl viḷakkaṅkaḷaiyum ceykiṟēṉ.</p>

                                    <p>Kuṭivaravu maṟṟum oruṅkiṇaippukkāṉa pireñcu aluvalakattil payiṟciyiṉpōtu maṟṟum pala taṉinaparkaḷukkāṉa moḻipeyarppāḷarāka palvēṟu aṉupavaṅkaḷaip peṟṟavar; oru vaṅkiyil kuṟippāka kūṭṭaṅkaḷil allatu tamiḻ-pirañcu kaṭitaṅkaḷiṉ moḻipeyarppu maṟṟum nērmāṟāka; eṉavē viḷakkam tēvaippaṭum palvēṟu cēvaikaḷukku nāṉ kiṭaikkiṟēṉ.
                                        Moḻipeyarppu allatu viḷakkam vēṇṭumā? 

                                        <a href="mailto:sopika16@hotmail.fr">Eṉṉai toṭarpu  koḷḷa tayaṅka vēṇṭāmcontacter</a>
                                    </p>
                                </code>
                            </div>
                        </div>
                        <div class="trad_panel trad_css">
                            <div class="header_panel">
                                <h1><strong>Traduction francaise</strong></h1>
                            </div>
                            <div class="panel_code">
                                <code>
                                    <h2 class="stroke__text">Traduction &amp; Interpretation tamoul / français</h2>
                                    <p>
                                        Etant diplômée Higher Certificate (level 3) en littérature Tamoul de l'université Thanjavur (Inde), je suis actuellement en cours de préparation pour l'équivalence du Licence Tamoul.

                                        Depuis mon arrivée en France, j'ai régulierement du traduire des documents mais aussi réaliser des interprétations.
                                    </p>
                                    <p>
                                        Ayant eu diverses expèriences en tant qu'interprète lors de formations de l'Office Français de l'Immigration et de l'Intégration et pour de nombreux particuliers; notamment des rendez vous dans une banque ou la traduction de lettres tamoul-français et vice-versa; Je me tiens donc à disposition pour diverses services qui requièrent une interprétation.<br>

                                        Besoin d'une traduction ou d'une interprétation ? N'hesitez pas à me <a href="mailto:sopika16@hotmail.fr">contacter</a> 
                                    </p>
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trad_pres">
                    <h1>Un besoin de traduction / interprétation du tamoul au français ou l'inverse ?</h1>
                    <p>Vous êtes un particulier, une agence, une PME, une multinationale, une institution… et vous avez besoin d’une <strong>traduction en français</strong> de vos textes tamouls ou d'une <strong>interprétation</strong>. Je me tiens à votre disposition, n'hésitez pas à me contacter !</p>
                    <a href="mailto:sopika16@hotmail.fr" class="button big bold">
                        Contactez moi !
                    </a>
                </div>
            </div>
        </header>

    </div>
    <main>
        <h2 class="presta">Mes prestations</h2>
        <div class="content content--grid">

            <div class="item item--style-7" data-animation-path-duration="2500" data-animation-path-easing="easeOutExpo" data-path-rotate="10" data-path-scaleX="0.5" data-morph-path="M 251.1,32.08 C 320.8,39.34 403.4,70.51 435.8,132.7 476.2,210.5 460.8,325.2 406.4,394 360.4,452.2 271,467.5 196.8,469.3 144.1,470.5 65.63,471.7 45.51,423 17.77,355.8 140.2,302.9 148.3,230.6 154.4,177.4 80.17,122.4 106.2,75.55 130.7,31.47 200.9,26.86 251.1,32.08 Z" data-animation-image-duration="1500" data-animation-image-easing="easeOutCubic" data-image-rotate="-30" data-animation-deco-duration="1500" data-animation-deco-easing="easeOutExpo" data-deco-scaleX="0.7" data-deco-translateX="-100" data-deco-translateY="-100" data-deco-rotate="50">
                <svg class="item__svg" width="500px" height="500px" viewBox="0 0 500 500">
                    <clipPath id="clipShape7">
                        <path class="item__clippath" d="M 280.1,34.42 C 465.8,29.89 514.6,354 417.3,392.3 318.9,423.2 332.3,114.7 233.3,143.6 134,172.6 294.3,390.5 212,453.2 174.8,481.6 106.3,459.6 74.54,425.3 21.22,367.7 30.13,244.7 45.63,191.6 59.95,142.4 95.32,105 135.2,77.89 176.9,49.52 229.9,29.96 280.1,34.42 Z" />
                    </clipPath>
                    <g class="item__deco">
                        <use xlink:href="#deco7" />
                    </g>
                    <g clip-path="url(#clipShape7)">
                        <image class="item__img" xlink:href="/images/srilanka.png" x="0" y="0" height="500px" width="500px" />
                    </g>
                </svg>
                <div class="item__meta">
                    <div class="item__number">
                        <span class="item__specimen">1</span>
                    </div>
                    <h2 class="item__title">Interprétariat de liaison</h2>
                    <h3 class="item__subtitle">Exemple: Visite médicale</h3>
                </div>
            </div>

            <div class="item item--style-9" data-morph-path="M 164.5,192.8 C 175.7,141.8 72.78,88.24 105.6,47.66 143.5,0.9129 223.2,82.47 283.3,79.39 337.1,76.63 401.6,-4.239 438.6,34.87 469.7,67.69 397.7,117.7 394.3,162.8 388,245.5 486.3,339.3 439.3,407.7 387.7,482.7 256.1,489.7 170.9,457.7 109,434.4 43.21,367.8 48.17,301.9 52.16,248.9 153.1,244.7 164.5,192.8 Z">
                <svg class="item__svg" width="500px" height="500px" viewBox="0 0 500 500">
                    <clipPath id="clipShape9">
                        <path class="item__clippath" d="M 42.83,227.7 C 58.04,162.6 148.6,142.8 209,113.1 257.1,89.44 320.1,30.73 362.2,63.69 401.6,94.57 329.8,166.3 349.1,212.1 367.3,255.2 453,255.4 457.9,301.8 464.4,362.5 405,452.6 343.6,445.7 281.1,438.6 319.7,305.1 263.6,276.7 210.8,250 142.4,334.1 88.72,309.2 60.22,296 35.75,258 42.83,227.7 Z" />
                    </clipPath>
                    <g class="item__deco">
                        <use xlink:href="#deco3" />
                    </g>
                    <g clip-path="url(#clipShape9)">
                        <image class="item__img" xlink:href="/images/paris.png" x="0" y="0" height="500px" width="500px" />
                    </g>
                </svg>
                <div class="item__meta">
                    <div class="item__number">
                        <span class="item__specimen">2</span>
                    </div>
                    <h2 class="item__title">Traduction</h2>
                    <h3 class="item__subtitle">Exemple: Documents administratifs</h3>
                </div>
            </div>

            <div class="item item--style-3" data-animation-path-duration="3500" data-path-elasticity="500" data-morph-path="M 193.7,217.3 C 236.4,228.3 279.7,242.7 320.9,231.8 362.6,220.9 446.8,197.1 457.6,241.5 469.3,289.8 378.7,308.3 330.2,319.2 278.5,330.8 222.3,319.2 172.1,302.2 125.2,286.4 33.08,273.2 45.14,225.2 57.22,177.1 145.7,204.8 193.7,217.3 Z" data-path-translateY="-20" data-animation-image-duration="1000" data-animation-image-easing="easeOutQuint" data-image-rotate="45" data-image-scaleX="0.8" data-image-scaleY="0.8" data-animation-deco-duration="2000" data-animation-deco-easing="easeOutElastic" data-deco-scaleX="0.7" data-deco-rotate="-10">
                <svg class="item__svg" width="500px" height="500px" viewBox="0 0 500 500">
                    <clipPath id="clipShape3">
                        <path class="item__clippath" d="M 184,127.4 C 235.4,92.39 319.7,79.27 359.9,132.2 383.2,163 357.1,216.6 355.8,258.8 354.8,291.2 371.3,332.9 352.9,356 306.1,414.4 205.1,419.3 153.7,367.2 123.8,336.8 128.6,272.1 136.1,225.2 142.1,187.8 157,145.7 184,127.4 Z" />
                    </clipPath>
                    <g class="item__deco">
                        <use xlink:href="#deco3" />
                    </g>
                    <g clip-path="url(#clipShape3)">
                        <image class="item__img" xlink:href="/images/traduction.png" x="0" y="0" height="500px" width="500px" />
                    </g>
                </svg>
                <div class="item__meta">
                    <div class="item__number">
                        <span class="item__specimen">3</span>
                    </div>
                    <h2 class="item__title">Relecture / Secrétariat de rédaction</h2>
                    <h3 class="item__subtitle">Exemple: Descriptifs d’articles </h3>
                </div>
            </div>

        </div>


    </main>
    <div class="custom-cursor"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>

    <script src="/traduction/bundle.js"></script>

    <noscript>
        <div class="noscript">Veuillez activer Javascript pour le bon fonctionnement du site</div>
    </noscript>

</body>
</html>
