<!DOCTYPE html>
<html lang="fr" class="no-js is-smooth-scroll-compatible">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uthaya - Culture Tamoule - Cours de tamoul</title>
    <meta name="description" lang="fr" content="Uthaya - Paris : Sophika Uthayakumar - Je propose mensuellement des ateliers de danse Barathanaatyam, ateliers d'essayage d'habits traditionnels, ateliers de théatre, ateliers de cuisine tamoule, contactez moi si vous voulez vous inscrire !">
    <link rel="apple-touch-icon" href="//cdn.superprof.com/style/images/favicon/s_rose_76.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//cdn.superprof.com/style/images/favicon/s_rose_76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//cdn.superprof.com/style/images/favicon/s_rose_120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//cdn.superprof.com/style/images/favicon/s_rose_152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//cdn.superprof.com/style/images/favicon/s_rose_180.png">
    <link rel="icon" sizes="192x192" href="//cdn.superprof.com/style/images/favicon/s_rose_192.png">
    <link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="//cdn.superprof.com/style/images/favicon/s_rose_76.ico">
    <link rel="mask-icon" href="//cdn.superprof.com/style/images/favicon/s_rose.svg" color="#FF5A5F">

    <meta name="robots" content="index, follow">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Uthaya - Paris : Sophika Uthayakumar - Je propose mensuellement des ateliers de danse Barathanaatyam, ateliers d'essayage d'habits traditionnels, ateliers de théatre, ateliers de cuisine tamoule, contactez moi si vous voulez vous inscrire !">
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://www.superprof.fr/images/annonces/professeur-home-cours-initiation-informatique-cours-tamoul-prof-diplomee-litterature-tamoul-vocabulaire-grammaire-expressions.jpg">
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Uthaya">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Uthaya - Paris : Sophika Uthayakumar - Je propose mensuellement des ateliers de danse Barathanaatyam, ateliers d'essayage d'habits traditionnels, ateliers de théatre, ateliers de cuisine tamoule, contactez moi si vous voulez vous inscrire !">

    <meta name="keywords" content="tamoul, culture tamoule, apprendre, traduction, interpretation, cours tamoul, apprendre le tamoul, traduction tamoule" />
    <meta name="author" content="Sopika Uthayakumar" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/ateliers/index.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js">
    </script>
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>
<body class="demo-1 scrolls">
    <header>
        <div class="header-side">
            <a href="/" class="logo dynamic-link cta" rel="noopener">
                <div style="position:relative;display:inline-block;" class="SplitClass">Uthaya</div> <br>
            </a>
            <span class="header-line">
            </span>
            <a class="header-link" href="mailto:sopika16@hotmail.fr" rel="author">Contact</a>
        </div>
        <div class="header-side">
            <nav>
                <a href="/cours" class="header-link dynamic-link _moveTo cta" data-href="cours" rel="prefetch">Cours</a>
                <a href="/traduction" class="header-link dynamic-link _moveTo cta" data-href="interpretation" rel="prefetch">Interprètation</a>
            </nav>
        </div>

    </header>

    <div class="corner__link">
        <a href="/ateliers" class="header-link corner dynamic-link _moveTo cta" data-href="ateliers" rel="prefetch">Ateliers</a>
        <a href="/boutique" class="header-link corner dynamic-link _moveTo cta" data-href="boutique" rel="prefetch">Boutique</a>
    </div>

    <div class="o-scroll" id="js-scroll" data-scroll-container>

        <div class="approach-section" data-scroll-section>
            <div class="approach-wrap" id="direction0">
                <div class="approach-stroke-wrap" >
                    <h1 class="approach-stroke-title" data-scroll data-scroll-direction="horizontal" data-scroll-speed="8" data-scroll-target="#js-scroll" data-scroll-delay="0.05" data-scroll-sticky>Mes ateliers – Culture tamoule!  Mes ateliers – Culture tamoule!  Mes ateliers – Culture tamoule!</h1>
                </div>
                <div class="approach-list" >
                    <div class="approach-item" data-index="0">
                        <h2>Voici les différents ateliers liès à la culture tamoule que j'anime mensuellement</h2>
                        <p>Vous voulez participer à l'un d'eux où inscrire votre enfant à un de ces ateliers, alors <a mailto="sopika16@hotmail.fr">contactez moi</a></p>
                    </div>
                    <div class="approach-item" data-index="1">
                        <img class="ateliers-img" width="30%" data-index="1" data-id="40" src="/images/dance.png" alt="Danseuse de Barathanaatyam" title="Danseuse de Barathanaatyam">
                        <h3>1. Danse Barathanaatyam</h3>
                        <p class="ateliers-p">Le Barathanaatyam est une danse classique tamoule originaire du Tamil Nadu en Inde.
                            <br>
                            C'est l'une des plus anciennes danses indiennes. Mélange de danse classique et d'art martial à la base, elle était liée aux pratiques religieuses dès son origine.
                        </p>
                    </div>
                    <div class="approach-item" data-index="2">
                        <img data-index="2" data-id="41" class="ateliers-img" width="30%" src="/images/food.png" alt="Cuisine tamoule" title="Cuisine tamoule">
                        <h3>2. Cuisine tamoule</h3>
                        <p class="ateliers-p">
                            La cuisine tamoule est un style culinaire originaire du sud de l'État indien du Tamil Nadu et d'autres régions sud-asiatiques du Sri Lanka. 
                            <br>La cuisine végétarienne est l'aliment de base du peuple tamoul et ce depuis les temps anciens. Les produits non végétariens, avec le riz, les légumineuses et les lentilles, sont les aliments les plus populaires de la région. Les produits laitiers et le tamarin sont utilisés comme agents acides préférés par le peuple tamoul. Un aliment typique est l'idli ou du dosa, ainsi que du riz, du sambar, du rasam sont largement utilisés comme repas principal pendant le déjeuner.
                        </p>
                    </div>
                    <div class="approach-item" data-index="3">
                        <img data-index="3" data-id="42" class="ateliers-img" width="30%" src="/images/habit.png" alt="habits traditionnels" title="habits traditionnels">
                        <h3>3. Essayage d'habits traditionnels</h3>
                        <p class="ateliers-p">
                            Venez essayer un Saree (fille) ou un Vetti (homme), vêtements traditionnels tamoul et en apprendre plus sur notre culture.
                        </p>
                    </div>
                    <div class="approach-item" data-index="4">
                        <img data-index="4" data-id="43" class="ateliers-img" width="30%" src="/images/theatre.png" alt="théatre" title="théatre">
                        <h3>4. Théatre</h3>
                        <p class="ateliers-p">
                            Inscrivez vos enfants à un de mes ateliers théatre (5 personnes) pour qu'il s'amuse et apprenne le tamoul en même temps !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-cursor"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="/ateliers/bundle.js">
    </script>

    <noscript>
        <div class="noscript">Veuillez activer Javascript pour le bon fonctionnement du site</div>
    </noscript>

</body>
</html>