<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uthaya - Culture Tamoule - Cours de tamoul</title>
    <meta name="description" lang="fr" content="Uthaya - Sophika Uthayakumar - Retrouvez ici mes supports de cours sous formats pdf ainsi que les livres pour lesquels j'ai participé à la rédaction.">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#da532c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000">

    <meta name="robots" content="index, follow">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Uthaya - Sophika Uthayakumar - Retrouvez ici mes supports de cours sous formats pdf ainsi que les livres pour lesquels j'ai participé à la rédaction.">
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="/images/me.png
">
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Uthaya">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Uthaya - Sophika Uthayakumar - Retrouvez ici mes supports de cours sous formats pdf ainsi que les livres pour lesquels j'ai participé à la rédaction.">

    <meta name="keywords" content="tamoul, culture tamoule, apprendre, traduction, interpretation, cours tamoul, apprendre le tamoul, traduction tamoule" />
    <meta name="author" content="Sopika Uthayakumar" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/boutique/index.css" />
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>
<body class="demo-1 scrolls">
    <header>
        <div class="header-side">
            <a href="/" class="logo dynamic-link cta" rel="noopener">
                <div style="position:relative;display:inline-block;" class="SplitClass">Uthaya</div> <br>
            </a>
            <a class="header-link" href="mailto:sopika16@hotmail.fr" rel="author">Contact</a>
        </div>
        <div class="header-side">
            <nav>
                <a href="/cours" class="header-link dynamic-link _moveTo cta" data-href="cours" rel="prefetch">Cours</a>
                <a href="/traduction" class="header-link dynamic-link _moveTo cta" data-href="interpretation" rel="prefetch">Interprètation</a>
            </nav>
        </div>

    </header>

    <div class="corner__link">
        <a href="/ateliers" class="header-link corner dynamic-link _moveTo cta" data-href="ateliers" rel="prefetch">Ateliers</a>
        <a href="/boutique" class="header-link corner dynamic-link _moveTo cta" data-href="boutique" rel="prefetch">Boutique</a>
    </div>


    <div class="feature pt-page-6" data-anchor="boutique" id="boutique" data-step="f">

        <div class="boutique">
            <div class="grid">
                <div class="pt5 item-a mb5">
                    <h2 class="w-75 mt3 mb4">Retrouvez ici mes différents supports de cours et livres pour apprendre le tamoul</h2>
                    <p class="f4 w-75 mb5">
                        Mes cours sont tous au prix de 3 euros chacun, seul le premier est <strong>téléchargeable gratuitement</strong>. Vous êtes donc libre de le prendre et si ma méthode d'apprentissage vous convient, revenez prendre les autres !<br>
                        Vous pouvez aussi acheter tous les cours de tamoul d'un coup au prix de <strong>25 euros</strong> au lieu de 30&nbsp;!
                        <br>Tout achat n'est pas remboursable !
                    </p>
                </div>
                <div class="flex justify-center pv4 items-center item item-b flex justify-center pv4 items-center">
                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 1</p>
                        <h3 class="playfair b lh-title mv0 pv3">Se présenter</h3>
                        <p class="lora"><a href="/files/cours1.pdf" class="i" download>Télécharger</a></p>
                    </div>
                </div>
                <div class="flex justify-center pv5 items-center item item-c">
                    <div class="w-80 tc pv4">
                        <p class="b ttu f6 sans-serif">Cours 2</p>
                        <h3 class="playfair b lh-title f1 mv0 pt3">Un matin,<br>direction l'école</h3>
                        <p class="pb4 pt3 lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo" data-amount="300" data-name="Cours n°2" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours2" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center pv4 items-center item item-d">
                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 3</p>
                        <h3 class="playfair b lh-title f3 mv0 pv3">Sur le chemin,<br>direction le marché</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo" data-amount="300" data-name="Cours n°3" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours3" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>

                </div>
                <div class="flex justify-center pv4 items-center item item-e">
                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 4</p>
                        <h3 class="playfair b lh-title f3 mv0 pv3">Cas grammatical</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo"data-amount="300" data-name="Cours n°4" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours4" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center pv4 items-center item item-f">
                    <div class="w-90 tc">
                        <p class="b ttu f6 sans-serif">Cours 5</p>
                        <h3 class="playfair b lh-title f3 mv0 pv3">Les temps</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo"data-amount="300" data-name="Cours n°5" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours5" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center pv4 items-center item item-g">
                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 6</p>
                        <h3 class="playfair b lh-title mv0 pv3">Chez le médecin</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo"data-amount="300" data-name="Cours n°6" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours6" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center pv4 items-center item item-h">

                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 7</p>
                        <h3 class="playfair b lh-title mv0 pv3">Au zoo</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo" data-amount="300" data-name="Cours n°7" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours7" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center pv4 items-center item item-i">

                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 8</p>
                        <h3 class="playfair b lh-title mv0 pv3">Serpent et martre</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo"data-amount="300" data-name="Cours n°8" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours8" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center pv4 items-center item item-l">

                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 9</p>
                        <h3 class="playfair b lh-title mv0 pv3">Au restaurant</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo"data-amount="300" data-name="Cours n°9" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours9" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center pv4 items-center item item-k">

                    <div class="w-80 tc">
                        <p class="b ttu f6 sans-serif">Cours 10</p>
                        <h3 class="playfair b lh-title mv0 pv3">Phrase négative</h3>
                        <p class="lora">
                            <form action="/charge" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_beyKZnTzonNc2Qam3Fv9XLfv00T88Th6Jo"data-amount="300" data-name="Cours n°10" data-description="Cours de Sopika Uthayakumar" data-locale="auto">
                                </script>
                                <input type="text" name="cours" value="cours10" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <span class="i">Acheter</span>
                                </button>
                                <script>

                                    var divs = document.querySelectorAll('button.stripe-button-el'), i;

                                    for (i = 0; i < divs.length; ++i) {
                                        divs[i].style.display = "none";
                                    }
                                </script>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="item-j flex justify-center nt3 slogan">
                    <p class="ttu dib  lh-copy mt2">
                        <span class="border-interrupt playfair pv2 tracked">Mes differents cours de tamoul en format PDF</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-cursor"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <script src="/boutique/bundle.js"></script>

    <noscript><div class="noscript">Veuillez activer Javascript pour le bon fonctionnement du site</div></noscript>

</body>
</html>