@import '../common/common';

.first-note {
    color: darkred;
    font-size: 14px;
}

#presentation img {
    mix-blend-mode: overlay;
}

#presentation {
    padding-top: 6.5em !important;
}

@media screen and (max-width: 600px) {
    #presentation {
        padding-bottom: 11em;
    }
}

/* animation */

.scrolls p, .scrolls ul,  .scrolls h3, .scrolls h2, .scrolls h1{
    animation: heading-in 1s forwards;
    animation-timing-function: cubic-bezier(.72,.33,.37,.66);
    animation-delay: 0;
}

@keyframes heading-in {
    0% {
        opacity: 0;
        transform:translateY(-50px)
    }

    50% {
        opacity: 0.5;
        transform:translateY(-50px) 
    }

    100% {
        opacity: 1;
        transform:translateY(0px)    
    }
}

/* */