<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Uthaya - Culture Tamoule - Cours de tamoul</title>
	<meta name="description" lang="fr" content="Uthaya - Paris/Lyon : Sophika Uthayakumar - Cours de tamoul par une prof. diplômée en Littérature Tamoul. Traduction et intépretation tamoul-français. Ateliers de danse et théatre. Vous voulez apprendre le tamoul ? Contactez moi !">
	<link rel="apple-touch-icon" href="//cdn.superprof.com/style/images/favicon/s_rose_76.png">
	<link rel="apple-touch-icon" sizes="76x76" href="//cdn.superprof.com/style/images/favicon/s_rose_76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="//cdn.superprof.com/style/images/favicon/s_rose_120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="//cdn.superprof.com/style/images/favicon/s_rose_152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="//cdn.superprof.com/style/images/favicon/s_rose_180.png">
	<link rel="icon" sizes="192x192" href="//cdn.superprof.com/style/images/favicon/s_rose_192.png">
	<link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="//cdn.superprof.com/style/images/favicon/s_rose_76.ico">
	<link rel="mask-icon" href="//cdn.superprof.com/style/images/favicon/s_rose.svg" color="#FF5A5F">

	<meta name="robots" content="index, follow">
	<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Uthaya - Paris/Lyon : Sophika Uthayakumar - Cours de tamoul par une prof. diplômée en Littérature Tamoul. Traduction et intépretation tamoul-français. Ateliers de danse et théatre. Vous voulez apprendre le tamoul ? Contactez moi !">
	<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://www.superprof.fr/images/annonces/professeur-home-cours-initiation-informatique-cours-tamoul-prof-diplomee-litterature-tamoul-vocabulaire-grammaire-expressions.jpg">
	<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Uthaya">
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Uthaya - Paris/Lyon : Sophika Uthayakumar - Cours de tamoul par une prof. diplômée en Littérature Tamoul. Traduction et intépretation tamoul-français. Ateliers de danse et théatre. Vous voulez apprendre le tamoul ? Contactez moi !">

	<meta name="keywords" content="tamoul, culture tamoule, apprendre, traduction, interpretation, cours tamoul" />
	<meta name="author" content="Sopika Uthayakumar" />
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="css" href="css/demo1.css" />
	<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>
<body class="demo-1">
	<svg class="hidden">
		<defs>
			<filter id="blur2" x="-0%" y="-0%" width="100%" height="100%">
				<feGaussianBlur in="SourceAlpha" stdDeviation="0" result="glow" data-min-deviation="0" data-max-deviation="30"/>
				<feColorMatrix result="bluralpha" type="matrix" values="1 1 1 1 0 1 1 0 0 1 0 0 -1 0 1 0 0 0 1.2 0 "/>
				<feOffset in="bluralpha" dx="0.000000" dy="0.000000" result="offsetBlur"/>
				<feMerge>
					<feMergeNode in="offsetBlur"/>
					<feMergeNode in="SourceGraphic"/>
				</feMerge>
			</filter>
		</defs>
	</svg>
	<header>
		<div class="header-side">
			<a href="#home" class="logo dynamic-link" rel="noopener">
				<div style="position:relative;display:inline-block;" class="SplitClass">Uthaya</div> <br>
			</a>
			<span class="header-line">
			</span>
			<a class="header-link" href="mailto:sopika16@hotmail.fr" rel="author">Contact</a>
		</div>
		<div class="header-side">
			<nav>
				<a href="#cours" class="header-link dynamic-link _moveTo" data-href="cours" rel="prefetch">Cours</a>
				<a href="#interpretation" class="header-link dynamic-link _moveTo" data-href="interpretation" rel="prefetch">Interprètation</a>
			</nav>
		</div>

	</header>

	<div class="corner__link">
		<a href="#ateliers" class="header-link corner dynamic-link _moveTo" data-href="ateliers" rel="prefetch">Ateliers</a>
		<a href="#boutique" class="header-link corner dynamic-link _moveTo" data-href="boutique" rel="prefetch">Boutique</a>
	</div>

	<div id="pt-main" class="pt-perspective">
		<div class="feature pt-page-1" data-anchor="home" id="home" data-step="a">
			<div class="heading">
				<div class="head-side">
					<a href="#presentation" class="view dynamic-link _moveTo" data-href="a-propos" rel="prefetch"> 
						<h1 class="stroke__text">Ecole de langue <br>&amp; culture tamoule </h1>
						<svg class="_arrow" aria-hidden="true" focusable="false" data-icon="long-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path fill="currentColor" d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z">
							</path>
						</svg>
					</a>
				</div>
			</div>

			<div class="container"></div>
		</div>
		<div class="feature hide pt-page-2" data-anchor="presentation" id="presentation" data-step="b">
			<div id="container">
				<div class="align" style="margin-bottom: 2rem;">
					<h2 style="text-align: initial;" class="stroke__text">Bonjour, je m'appelle Sopika</h2>
				</div>
				<img src="images/me.png" style="float: left;">
				<h3>Je suis consultante & formatrice en informatique | Interprète & Professeur de tamoul</h3>
				<p>Diplômée en Master Informatique, je travaille en tant que consultante et enseignante en informatique et également traductrice et interprète (tamoul-français).<br>
					J'ai décidé de créer cette école pour partager la culture tamoule et mes connaissances de la langue. <br>
				J'offre donc des services d'interprétation et traduction, des cours pour apprendre à parler mais aussi des ateliers de danse traditionnelle.</p>
				<br>
				<p>J'ai participé à la création du livre "Apprenons le Tamoul" avec les associations <a href="http://tyofrance.fr" target="_blank">TYO</a> et <a href="http://respectdesoi.org" target="_blank">Respect de Soi</a>, destiné aux débutants. Ce livre de 12 chapitres, contient le vocabulaire et quelques expressions nécessaires pour la vie de tous les jours, pour enfants et adultes. C'est un livre ludique adaptant une certaine pédagogie afin que quiconque puisse apprendre de lui même cette langue.</p>
				<p>Disponible en PDF sur demande au prix de 12 euros qui seront reversés aux associations.</p>
				<p>Je mets aussi en vente mes cours qui ont permis à mes étudiants de poursuivre leurs apprentissage de la langue.</p>
				<p>Retrouvez tous les cours et livres en ventes dans la partie <a href="#boutique" title="boutique">Boutique</a></p>


			</div>
			
		</div>

	</div>
	<div class="feature hide pt-page-3" data-anchor="cours" id="cours" data-step="c">
		<div class="">
			<div>
				<h2 class="stroke__text">Cours de tamoul par une prof. diplômée en Littérature Tamoul</h2>
			</div>
			<div>
				<h3>Je donne des cours de soutien scolaire et tamoul depuis 2009 à des personnes de tous les horizons.</h3>

				Passant de la grammaire à la syntaxe, aux diverses expressions, vocabulaires, préparation aux examens. Ces cours complets seront s'adapter à vos besoins quels qu'ils soient, de part une méthodologie d'apprentissage adaptive et qui s'est prouver être efficace sur mes élèves.
				<br>
				Je vous propose de vous aider à améliorer votre tamoul qu'importe votre niveau mais aussi de vous accompagner en ce qui concerne vos objectifs personnels et professionnels.
				<br>
				En 2012/2013, j'ai eu l'occasion d'enseigner à l'association PTEC dans Paris 11e pour des élèves de la moyenne section à la 4e. Mes missions étaient de préparer les jeunes aux examens et également de leur enseigner la culture tamoule (danse, théâtre, musique).
				<br>
				En 2015, une de mes élèves (de cours particulier) a participé à l'examen d'ITEC et elle a eu 54%. Ce fut un grand succès pour elle et moi!
			</div>
			<div>
				<h3>Déroulement du cours:</h3>
				<ul>
					<li>
						<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>Première séance pour faire connaissance, d'évaluer votre niveau en tamoul et analyser vos objectifs.</li>
					<li>
					<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>En fonction de vos objectifs, nous établissons une méthode de travail qui consistera à utiliser mes propres supports de cours et/ou d'autres supports complémentaires selon votre niveau.</li>
					<li>
					<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>Si vous avez des objectifs professionnels, je peux à la fois créer des cours et supports sur-mesure.</li>
					<li>
					<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>Pour les enfants, j'emprunte une méthodologie ludique qui consiste à utiliser le jeu/théâtre comme médium d'apprentissage.</li>
					<li>
						<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>
					Si besoin, nous reverrons notre méthode de travail afin de mieux s'adapter à votre capacité d'apprentissage.</li>
				</ul>
			</div>
			<div>
				<h3>Mes disponibilités à convenir ensemble:</h3>
				<ul>
					<li>
						<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>Lundi, Mercredi, Vendredi: A partir de 18h30 (Paris 13 & 18 de préférence)</li>
					<li>
					<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>Mardi: A partir de 18h30 jusqu'à 21h (uniquement dans le 13e)</li>
					<li>
					<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>Jeudi: A partir de 21h (uniquement dans le 13e ou par skype)</li>
					<li>
						<svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 22h-19v-19h19v2h-1v-1h-17v17h17v-9.502h1v10.502zm5-19.315l-14.966 15.872-5.558-6.557.762-.648 4.833 5.707 14.201-15.059.728.685z"/></svg>Samedi et Dimanche: Toute la journée</li>
				</ul>
				Je suis disponible sur Paris & Lyon selon les dates.
				<br>
				<a class="header-link" href="mailto:sopika16@hotmail.fr" rel="author">Envoyez-moi un message</a> pour m'expliquer votre projet.
				<p>A bientôt!</p>
			</div>
		</div>
	</div>
	<div class="feature hide pt-page-4" id="interpretation" data-anchor="interpretation" data-step="d">
		<div class="wrap">
			<div class="new">
				<h2 class="stroke__text">Traduction &amp; Interpretation tamoul / français</h2>
				<p>
					Etant diplômée Higher Certificate (level 3) en littérature Tamoul de l'université Thanjavur (Inde), je suis actuellement en cours de préparation pour l'équivalence du Licence Tamoul.

					Depuis mon arrivée en France, j'ai régulierement du traduire des documents mais aussi réaliser des interprétations.
				</p>
				<p>
					Ayant eu diverses expèriences en tant qu'interprète lors de formations de l'Office Français de l'Immigration et de l'Intégration et pour de nombreux particuliers; notamment des rendez vous dans une banque ou la traduction de lettres tamoul-français et vice-versa; Je me tiens donc à disposition pour diverses services qui requièrent une interprétation.<br>

					Besoin d'une traduction ou d'une interprétation ? N'hesitez pas à me <a href="mailto:sopika16@hotmail.fr">contacter</a>	
				</p>
			</div>
			<div class="old">
				<h2 class="stroke__text">Moḻipeyarppu maṟṟum viḷakkam tamiḻ/ pirañcu</h2>
				<p>
					Tañcāvūr palkalaikkaḻakattil (intiyā) tamiḻ ilakkiyattil uyar cāṉṟitaḻ (nilai 3) eṉṟa vakaiyil, taṟpōtu tamiḻ urimattiṉ camanilaikku nāṉ tayārāki varukiṟēṉ. Nāṉ pirāṉcukku vantatiliruntu, nāṉ vaḻakkamāka āvaṇaṅkaḷai moḻipeyarkkiṟēṉ, āṉāl viḷakkaṅkaḷaiyum ceykiṟēṉ.
				</p>
				<p>
					Kuṭivaravu maṟṟum oruṅkiṇaippukkāṉa pireñcu aluvalakattil payiṟciyiṉpōtu maṟṟum pala taṉinaparkaḷukkāṉa moḻipeyarppāḷarāka palvēṟu aṉupavaṅkaḷaip peṟṟavar; oru vaṅkiyil kuṟippāka kūṭṭaṅkaḷil allatu tamiḻ-pirañcu kaṭitaṅkaḷiṉ moḻipeyarppu maṟṟum nērmāṟāka; eṉavē viḷakkam tēvaippaṭum palvēṟu cēvaikaḷukku nāṉ kiṭaikkiṟēṉ.
					Moḻipeyarppu allatu viḷakkam vēṇṭumā? 
					<a href="mailto:sopika16@hotmail.fr">Eṉṉai toṭarpu koḷḷa tayaṅka vēṇṭāmcontacter</a>
				</p>
			</div>
		</div>
	</div>
	<div class="feature hide pt-page-5" id="ateliers" data-step="e">
		<div style="padding: 4vw;">
			<h3>Voici les différents ateliers que j'anime mensuellement</h3>
			<p>Vous voulez participer à l'un d'eux où inscrire votre enfant à un de ces ateliers, alors <a mailto="sopika16@hotmail.fr">contactez moi</a></p>
		</div>
		<div>
			<h4 class="stroke__text">- Danse Barathanaatyam</h4>
			
			<p style="display: inline-block; width: 50%;" class="ateliers-p">Le Barathanaatyam est une danse classique tamoule originaire du Tamil Nadu en Inde.
				<br>
				C'est l'une des plus anciennes danses indiennes. Mélange de danse classique et d'art martial à la base, elle était liée aux pratiques religieuses dès son origine.
			</p>
			<img style="display: inline-block;" class="ateliers-img" width="30%" src="images/dance.png" alt="Danseuse de Barathanaatyam" title="Danseuse de Barathanaatyam">
		</div>
		<div>
			<h4 class="stroke__text">- Cuisine tamoule</h4>
			<img style="display: inline-block;margin-top: 8em; transform: rotate(90deg);" class="ateliers-img" width="30%" src="images/food.png" alt="Cuisine tamoule" title="Cuisine tamoule">
			<p class="ateliers-p">
				La cuisine tamoule est un style culinaire originaire du sud de l'État indien du Tamil Nadu et d'autres régions sud-asiatiques du Sri Lanka. 
				<br>La cuisine végétarienne est l'aliment de base du peuple tamoul et ce depuis les temps anciens. Les produits non végétariens, avec le riz, les légumineuses et les lentilles, sont les aliments les plus populaires de la région. Les produits laitiers et le tamarin sont utilisés comme agents acides préférés par le peuple tamoul. Un aliment typique est l'idli ou du dosa, ainsi que du riz, du sambar, du rasam sont largement utilisés comme repas principal pendant le déjeuner.
			</p>
		</div>
		<div>
			<h4 class="stroke__text">- Essayage d'habits traditionnels</h4>
			<p class="ateliers-p">
				Venez essayer un Saree (fille) ou un Vetti (homme), vêtements traditionnels tamoul et en apprendre plus sur notre culture.
			</p>
			<img style="display: inline-block;" class="ateliers-img" width="30%" src="images/habit.png" alt="habits traditionnels" title="habits traditionnels">
		</div>
		<div>
			<h4 class="stroke__text">- Théatre</h4>
			<img style="display: inline-block;" class="ateliers-img" width="30%" src="images/theatre.png" alt="théatre" title="théatre">
			<p class="ateliers-p">Inscrivez vos enfants à un de mes ateliers théatre (5 personnes) pour qu'il s'amuse et apprenne le tamoul en même temps !</p>
		</div>
	</div>

	<div class="feature hide pt-page-6" data-anchor="boutique" id="boutique" data-step="f">

		<div class="boutique">
			<div class="grid">
				<div class="pt5 item-a mb5">
					<h2 class="w-75 mt3">Retrouvez ici mes différents supports de cours et livres pour apprendre le tamoul</h2>
					<p class="f4 w-75 mb5">
						Mes cours sont tous au prix de 3 euros chacun, seul le premier est <strong>téléchargeable gratuitement</strong>. Vous êtes donc libre de le prendre et si ma méthode d'apprentissage vous convient, revenez prendre les autres !<br>
						Vous pouvez aussi acheter tous les cours de tamoul d'un coup au prix de <strong>25 euros</strong> au lieu de 30&nbsp;!
						<br>Tout achat n'est pas remboursable !
					</p>
				</div>
				<div class="flex justify-center pv4 items-center item item-b flex justify-center pv4 items-center">
					<div class="w-80 tc">
						<p class="b ttu f6 sans-serif">Cours 1</p>
						<h3 class="playfair b lh-title mv0 pv3">Se présenter</h3>
						<p class="lora"><a href="files/cours1.pdf" class="i" download>Télécharger</a></p>
					</div>
				</div>
				<div class="flex justify-center pv5 items-center item item-c">
					<div class="w-80 tc pv4">
						<p class="b ttu f6 sans-serif">Cours 2</p>
						<h3 class="playfair b lh-title f1 mv0 pt3">Un matin,<br>direction l'école</h3>
						<p class="pb4 pt3 lora">
							<form action="/charge" method="POST">
								<script
								src="https://checkout.stripe.com/checkout.js" class="stripe-button"
								data-key="<%= stripePublishableKey %>"
								data-amount="300"
								data-name="Cours n°2"
								data-description="Cours de Sopika Uthayakumar"
								data-locale="auto">
							</script>
							<input type="text" name="cours" value="cours2" hidden>
							<button type="submit" style="background: none; border: none;">
								<span class="i">Acheter</span>
							</button>
						</form>
					</p>
				</div>
			</div>
			<div class="flex justify-center pv4 items-center item item-d">
				<div class="w-80 tc">
					<p class="b ttu f6 sans-serif">Cours 3</p>
					<h3 class="playfair b lh-title f3 mv0 pv3">Sur le chemin,<br>direction le marché</h3>
					<p class="lora">
						<form action="/charge" method="POST">
							<script
							src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							data-key="<%= stripePublishableKey %>"
							data-amount="300"
							data-name="Cours n°3"
							data-description="Cours de Sopika Uthayakumar"
							data-locale="auto">
						</script>
						<input type="text" name="cours" value="cours3" hidden>
						<button type="submit" style="background: none; border: none;">
							<span class="i">Acheter</span>
						</button>
					</form>
				</p>
			</div>

		</div>
		<div class="flex justify-center pv4 items-center item item-e">
			<div class="w-80 tc">
				<p class="b ttu f6 sans-serif">Cours 4</p>
				<h3 class="playfair b lh-title f3 mv0 pv3">Cas grammatical</h3>
				<p class="lora">
					<form action="/charge" method="POST">
						<script
						src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="<%= stripePublishableKey %>"
						data-amount="300"
						data-name="Cours n°4"
						data-description="Cours de Sopika Uthayakumar"
						data-locale="auto">
					</script>
					<input type="text" name="cours" value="cours4" hidden>
					<button type="submit" style="background: none; border: none;">
						<span class="i">Acheter</span>
					</button>
				</form>
			</p>
		</div>
	</div>
	<div class="flex justify-center pv4 items-center item item-f">
		<div class="w-90 tc">
			<p class="b ttu f6 sans-serif">Cours 5</p>
			<h3 class="playfair b lh-title f3 mv0 pv3">Les temps</h3>
			<p class="lora">
				<form action="/charge" method="POST">
					<script
					src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="<%= stripePublishableKey %>"
					data-amount="300"
					data-name="Cours n°5"
					data-description="Cours de Sopika Uthayakumar"
					data-locale="auto">
				</script>
				<input type="text" name="cours" value="cours5" hidden>
				<button type="submit" style="background: none; border: none;">
					<span class="i">Acheter</span>
				</button>
			</form>
		</p>
	</div>
</div>
<div class="flex justify-center pv4 items-center item item-g">
	<div class="w-80 tc">
		<p class="b ttu f6 sans-serif">Cours 6</p>
		<h3 class="playfair b lh-title mv0 pv3">Chez le médecin</h3>
		<p class="lora">
			<form action="/charge" method="POST">
				<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="<%= stripePublishableKey %>"
				data-amount="300"
				data-name="Cours n°6"
				data-description="Cours de Sopika Uthayakumar"
				data-locale="auto">
			</script>
			<input type="text" name="cours" value="cours6" hidden>
			<button type="submit" style="background: none; border: none;">
				<span class="i">Acheter</span>
			</button>
		</form>
	</p>
</div>
</div>
<div class="flex justify-center pv4 items-center item item-h">

	<div class="w-80 tc">
		<p class="b ttu f6 sans-serif">Cours 7</p>
		<h3 class="playfair b lh-title mv0 pv3">Au zoo</h3>
		<p class="lora">
			<form action="/charge" method="POST">
				<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="<%= stripePublishableKey %>"
				data-amount="300"
				data-name="Cours n°7"
				data-description="Cours de Sopika Uthayakumar"
				data-locale="auto">
			</script>
			<input type="text" name="cours" value="cours7" hidden>
			<button type="submit" style="background: none; border: none;">
				<span class="i">Acheter</span>
			</button>
		</form>
	</p>
</div>
</div>
<div class="flex justify-center pv4 items-center item item-i">

	<div class="w-80 tc">
		<p class="b ttu f6 sans-serif">Cours 8</p>
		<h3 class="playfair b lh-title mv0 pv3">Serpent et martre</h3>
		<p class="lora">
			<form action="/charge" method="POST">
				<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="<%= stripePublishableKey %>"
				data-amount="300"
				data-name="Cours n°8"
				data-description="Cours de Sopika Uthayakumar"
				data-locale="auto">
			</script>
			<input type="text" name="cours" value="cours8" hidden>
			<button type="submit" style="background: none; border: none;">
				<span class="i">Acheter</span>
			</button>
		</form>
	</p>
</div>
</div>
<div class="flex justify-center pv4 items-center item item-l">

	<div class="w-80 tc">
		<p class="b ttu f6 sans-serif">Cours 9</p>
		<h3 class="playfair b lh-title mv0 pv3">Au restaurant</h3>
		<p class="lora">
			<form action="/charge" method="POST">
				<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="<%= stripePublishableKey %>"
				data-amount="300"
				data-name="Cours n°9"
				data-description="Cours de Sopika Uthayakumar"
				data-locale="auto">
			</script>
			<input type="text" name="cours" value="cours9" hidden>
			<button type="submit" style="background: none; border: none;">
				<span class="i">Acheter</span>
			</button>
		</form>
	</p>
</div>
</div>
<div class="flex justify-center pv4 items-center item item-k">

	<div class="w-80 tc">
		<p class="b ttu f6 sans-serif">Cours 10</p>
		<h3 class="playfair b lh-title mv0 pv3">Phrase négative</h3>
		<p class="lora">
			<form action="/charge" method="POST">
				<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="<%= stripePublishableKey %>"
				data-amount="300"
				data-name="Cours n°10"
				data-description="Cours de Sopika Uthayakumar"
				data-locale="auto">
			</script>
			<input type="text" name="cours" value="cours10" hidden>
			<button type="submit" style="background: none; border: none;">
				<span class="i">Acheter</span>
			</button>
			<script>

				var divs = document.querySelectorAll('button.stripe-button-el'), i;

				for (i = 0; i < divs.length; ++i) {
					divs[i].style.display = "none";
				}
			</script>
		</form>
	</p>
</div>
</div>
<div class="item-j flex justify-center nt3 slogan">
	<p class="ttu dib  lh-copy mt2"><span class="border-interrupt playfair pv2 tracked">Mes differents cours de tamoul en format PDF</span></p>
</div>
</div>
</div>
</div>
</section>

</div>

<noscript><div class="noscript">Veuillez activer Javascript pour le bon fonctionnement du site</div></noscript>

</body>
</html>